<hr style="margin: 10px 80px;">
<div class="footer" style="bottom: 0px; width: 90%; background: #FFFFFF; margin: 40px">
  <div style="text-align: center;">
    Follow us on:
    <a href="https://www.facebook.com/people/Glacial-Lake-Observatory/61574218148820/">
      <img src="/static/images/logos/Social_media_logos/Facebook_Logo_Primary.png" alt="Facebook link" style="height:50px; width:auto; padding: 5px">
    </a>
    <a href="https://www.instagram.com/glaciallakeobservatory/">
      <img src="/static/images/logos/Social_media_logos/Instagram_Glyph_Gradient.png" alt="Instagram link" style="height:50px; width:auto; padding: 5px">
    </a>
    <a href="https://www.youtube.com/@GlacialLakeObservatory">
      <img src="/static/images/logos/Social_media_logos/yt_icon_red_digital.png" alt="YouTube link" style="height:50px; width:auto; padding: 5px">
    </a>
  </div>
</div>
<hr style="border-color: blue; border-width: 1.5px; border-style: solid; margin: 10px 80px;">
   
  <div style="display: flex; justify-content: center; gap: 40px; width: 100%;">
    <a href="/copyright">COPYRIGHT AND DISCLAIMER</a>
    <a href="/contribute">PRIVACY NOTICE</a>
    <a href="/contribute">CONTRIBUTOR GUIDELINES</a>
  </div>
  <br>
  <center>
  <hr style="border-color: blue; border-width: 1.5px; border-style: solid; margin: 10px 80px;">
  
  <div style="display: flex; justify-content: center; gap: 40px; width: 100%;">
    <img src="/static/images/logos/GLO_logo.png" alt="Glo Logo" style="height:80px; width:auto; padding: 5px">
    <img src="/static/Leeds-logo.jpg" alt="Leeds logo" style="height:80px; width:auto; padding: 5px"> 
    <img src="/static/images/logos/institution_logos/Water@LeedsLogo-01-1400x700.jpg" alt="Water@Leeds logo" style="height:80px; width:auto; padding: 5px">
    <img src="/static/images/logos/institution_logos/UKRI-Logo_Horiz-RGB.png" alt="UKRI" style="height:80px; width:auto; padding: 5px">
 
  </div>
</center>
<center>
<div  style="text-align: center; width: 95%; font-size:12px">
<i>
This platform was developed by CEMAC and the GLO team. This work was supported by a UKRI Future Leaders Fellowship [grant number MR/Y016564/1].
Please cite the platform as: Glacial Lake Observatory. 2026. Database. [Online]. [Accessed [Date]]. Available from: <a href="http://glacial-lake-observatory.org/" target="_blank"> http://glacial-lake-observatory.org/ </a>  

</i>
</div>
 </center>
<center>
  <div style="text-align: center; font-size:12px">
    <i>Website designed by <a href="https://www.cemac.leeds.ac.uk/" target="_blank">CEMAC</a>
    &copy; 2019 <a href="https://www.leeds.ac.uk/" target="_blank">University of Leeds</a>, Leeds, LS2 9JT</i>
  </div>
<a href="/privacy">Privacy</a>
</center>
