<hr>
<div class="footer" style="bottom: 0px; width: 90%; background: #FFFFFF; margin: 40px">
    <div  style="height: 14px;  float: left;">
  <a href="/copyright">COPYRIGHT AND DISCLAIMER</a>
  </div>
  <div style="float: right;"><a href="/contribute">CONTRIBUTOR GUIDELINES</a>
  </div>
  <br>
  <center>
  <img src="/static/Leeds-logo.jpg" alt="Leeds logo" style="height:50px; width:auto; padding: 5px">
</center>
<center>
<div  style="text-align: center; width: 95%; font-size:12px">
<i>
This platform was developed by CEMAC and the GLO team. This work was supported by a UKRI Future Leaders Fellowship [grant number MR/Y016564/1].
Please cite the platform as: Glacial Lake Observatory. 2025. Database. [Online]. [Accessed [Date]]. Available from: <a href="http://glacial-lake-observatory.org/" target="_blank"> http://glacial-lake-observatory.org/ </a>  

</i>
</div>
 </center>
<center>
  <div style="text-align: center; font-size:12px">
    <i>Website designed by <a href="https://www.cemac.leeds.ac.uk/" target="_blank">CEMAC</a>
    &copy; 2019 <a href="https://www.leeds.ac.uk/" target="_blank">University of Leeds</a>, Leeds, LS2 9JT</i>
  </div>
<a href="/privacy">Privacy</a>
</center>
</div>
