<div style="text-align: center; width: 100%; ">
			<div>
				<span>
					<img src="/static/GLO_logo_text.png" alt="Banner" style="width: 20%; display: inline-block;" />
					<img src="/static/GLO_banner.png" alt="Banner" style="width: 60%; display: inline-block;" />
				</span>
			</div>
	
			</div>
			
		</div><!-- #masthead -->
<div style="text-align: right; width: 95%; ">
<div id="google_translate_element"></div> 
<script type="text/javascript" src=
"https://translate.google.com/translate_a/element.js?
			cb=googleTranslateElementInit">
	</script>

</div>
