/*** database.css ***/

/** flex classes: **/

.db_row,
.db_row_wrap,
.db_column,
.db_column_wrap {
  display: flex;
  flex: 1 1 auto;
}

.db_row {
  flex-flow: row nowrap;
}

.db_row_wrap {
  flex-flow: row wrap;
}

.db_column {
  flex-flow: column nowrap;
}

.db_column_wrap {
  flex-flow: column wrap;
}

.flex_center {
  justify-content: center;
}

.flex_start {
  justify-content: flex-start;
}

.flex_end {
  justify-content: flex-end;
}

.flex_justify {
  justify-content: space-around;
}

.flex_grow {
  flex: 1 1 auto;
}

.flex_no_grow {
  flex: 0 1 auto;
}

/** body: **/

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

/** container: **/

.db_container_col {
  max-width: 1800px;
  margin: auto;
  background-color: #f8f9fa;
  padding: 1em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

/** headers: **/

.header_db {
  background-color: #ffffff;
  margin-top: 1em;
  margin-bottom: 1em;
  max-height: 2em;
  padding: 0.4em 0.6em 0.1em 0.6em;
  border: 0.08em solid #484848;
  position: relative;
  left: -1.2em;
}

/** text: **/

.page_text {
  width: 100%;
  background-color: #ffffff;
  border: 0.8em solid #ffff;
  border-radius: 0.8em;
  padding: 1em;
}

/** plots: **/

.leaflet-container .leaflet-control-mouseposition {
  min-width: 11em;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/** tables: **/

table {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  max-width: 98%;
}

.dataTables_wrapper {
  margin-top: 1em;
}

.dataTables_length {
  margin-bottom: 1em;
}

.dataTables_filter {
  margin-bottom: 1em;
}

.dataTables_info {
  margin-top: 1em;
}

.dataTables_paginate {
  margin-top: 1em;
}

.lakes_table_tr:hover {
  cursor: pointer;
}

.lakes_table_a {
  color: #000000;
}

@media only screen and (max-width: 400px) {
  .th_common_name {
    display: none;
  }
  .td_common_name {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .th_basin {
    display: none;
  }
  .td_basin {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .th_country {
    display: none;
  }
  .td_country {
    display: none;
  }
}
