/*** database.css ***/

/** flex classes: **/

.db_row,
.db_row_wrap,
.db_column,
.db_column_wrap {
  display: flex;
  flex: 1 1 auto;
}

.db_row {
  flex-flow: row nowrap;
}

.db_row_wrap {
  flex-flow: row wrap;
}

.db_column {
  flex-flow: column nowrap;
}

.db_column_wrap {
  flex-flow: column wrap;
}

.flex_center {
  justify-content: center;
}

.flex_start {
  justify-content: flex-start;
}

.flex_end {
  justify-content: flex-end;
}

.flex_justify {
  justify-content: space-around;
}

.flex_grow {
  flex: 1 1 auto;
}

.flex_no_grow {
  flex: 0 1 auto;
}

/** body: **/

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

/** container: **/

.db_container_col {
  max-width: 1800px;
  margin: auto;
  background-color: #ffffff;
  padding: 1em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

/** headers: **/

.db_content_col {
  margin-top: 0em;
}

.header_db {
  margin-top: 0em;
  margin-bottom: 0.5em;
  max-height: 2em;
}

/** text: **/

.page_text {
  width: 100%;
  background-color: #ffffff;
  border: 0.8em solid #ffff;
  border-radius: 0.8em;
  padding: 1em;
}

.db_content_text {
  margin-left: 0.5em;
}

/** map: **/

.db_map_div {
  width: 100%;
  height: 35em;
  margin: 1em 0.2em 1em 0.2em;
  border: 0.8em solid #ffffff;
  border-radius: 0.8em;
  overflow: hidden;
}

.map_ctl {
  padding: 2px 10px 2px 10px;
  background: white;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  text-align: right;
}

.map_title {
  font-size: 1.1em;
  font-weight: bold;
}

.map_colormap {
  padding-top: 0.7em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.map_colormap p {
  margin: 0;
  padding: 0;
  text-align: left;
}

.map_colormap_color {
  display: inline-block;
  vertical-align: text-bottom;
  width: 1.3em;
  height: 1.3em;
  margin: 0;
  margin-right: 0.3em;
}

.map_colormap_value {
  display: inline-block;
  vertical-align: text-bottom;
  text-align: left;
}

/** plots: **/

.db_plot_div {
  width: 100%;
  min-height: 90vh;
  margin: 1em 0.2em 1em 0.2em;
  border: 0.8em solid #ffffff;
  border-radius: 0.8em;
  overflow: hidden;
}

.leaflet-container .leaflet-control-mouseposition {
  min-width: 11em;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/** tables: **/

table {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  max-width: 98%;
}

.dataTables_wrapper {
  margin-top: 1em;
}

.dataTables_length {
  margin-bottom: 1em;
}

.dataTables_filter {
  margin-bottom: 1em;
}

.dataTables_info {
  margin-top: 1em;
}

.dataTables_paginate {
  margin-top: 1em;
}

.lakes_table_tr:hover {
  cursor: pointer;
}

.lakes_table_a {
  color: #000000;
}

@media only screen and (max-width: 1100px) {
  .th_volume, .td_volume {
    display: none;
  }
}

@media only screen and (max-width: 975px) {
  .th_depth, .td_depth {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  .th_expansion, .td_expansion {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .th_area, .td_area {
    display: none;
  }
}

@media only screen and (max-width: 775px) {
  .th_connectivity, .td_connectivity {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .th_country, .td_country {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .th_common_name, .td_common_name {
    display: none;
  }
}
