{% extends 'layout.html.j2' %}
{% block body %}
<h1>About the COMET Volcano deformation catalogue</h1>
 <p>Accessible records of past volcanic eruptions, unrest and associated geophysical
signals are important for understanding new activity.  The COMET Volcano Deformation
Catalogue is an effort to bring together records of displacement at volcanoes, both
published and unpublished.   As well as providing context for signals in Sentinel-1
interferograms, we hope that the catalogue will provide a forum for the recording
of observations for posterity, including those that are ambiguous or record a
lack of deformation.  We consider good records of ‘null’ results (i.e. where
measurement uncertainty and time span of observation are documented) to be critical
for any future probabilistic analyses of relationships between deformation and unrest
or eruption.
<p> This website welcomes community contributions – if you would like to add an
  entry please <a href="/contact">contact us</a> for a contributor login to the website.
  We welcome contributions that could be referenced as ‘personal communications’,
  unpublished student theses, conference abstracts and observatory reports.
  We use the volcano names, numbers and locations as recorded in the GVP VOTW
  database in an effort to ensure future compatibility (GVP, Global Volcanism
  Program, 2013).  However, unlike the VOTW database most entries recorded here
  are in ‘free text’ format, to allow maximum flexibility in the information that
  can be recorded.
<p> The motivation of the COMET Volcano Deformation Catalogue and relationship to
  the deformation entries in the Smithsonian Institution Global Volcanism Program’s
  Volcanoes of the World relational database is described in more detail by Ebmeier
  et al., (2018).   A ‘snapshot’ of the catalogue after its last comprehensive update
  showed that so far, InSAR detections of volcanic deformation characteristically last
  more than a few months, but less than a decade, and extend between hundreds of metres
  and hundreds of kilometres. However, short-lived, low rate and off-centre episodes of
  volcano deformation are likely to be under-represented in historical InSAR and
  ground-based deformation records. The abundance of deformation signals that occur
  kilometres away from volcanic centres demonstrate the ubiquity of off-centre magma
  storage (Ebmeier et al., 2018).
  <figure>
<img src="static/documentation.png" alt="documentation choices" width="70%" height="auto"></img>
<figcaption>Figure 1:  Illustration of the documentation choices needed to systematically record historical episodes of volcanic deformation.  The orange path represents the system adopted for deformation records in the GVP VOTW database, where separate database entries are made for each episode of deformation identified.  On this website, we use the conventions for volcano names, numbers and locations established by the GVP. The structure for the COMET catalogue hosted here is shown by the red path and records deformation observations for each volcano, with an emphasis on recording null as well as positive results. Figure reproduced from an open access Journal of Applied Volcanology Article (Ebmeier et al., 2018).</figcaption>
</figure>
<br>
<h3> References </h3>
<ul>
<li> Ebmeier, S.K., Andrews, B.J., Araya, M.C., Arnold, D.W.D., Biggs, J., Cooper, C., Cottrell, E., Furtney, M., Hickey, J., Jay, J.A.V., and Lloyd, R. (2018). Synthesis of global satellite observations of magmatic and volcanic deformation: implications for volcano monitoring & the lateral extent of magmatic domains. Journal of Applied Volcanology, 7(1), p.2.</li>
<li> Global Volcanism Program, 2013. Venzke, E (ed.)., Volcanoes of the World, v. 4.6.0. Smithsonian Institution. <a href="https://doi.org/10.5479/si.GVP.VOTW4-2013">https://doi.org/10.5479/si.GVP.VOTW4-2013</a> </li>

{% endblock %}
</html>
