{% extends 'layout.html.j2' %}
{% block body %}
<h1>What we do:</h1>

<!-- The alt Descriptions should be improved later -->
<br>
<h2>Research</h2>
<br>
<img src="/static/images/About/Team/about_research.png" alt="Research schematic" title="Research Schematic" style="width: 70%;">
<br>
<br>
<h2>Fieldwork</h2>
<br>
<img src="/static/images/About/Team/about_fieldwork.png" alt="Fieldwork schematic" title="Fieldwork Schematic" style="width: 70%;">
<br>
<br>
<h2>Outreach</h2>
<br>
<img src="/static/images/About/Team/about_outreach.png" alt="Outreach schematic" title="Outreach Schematic" style="width: 70%;">
<br>
<div>



{% endblock %}
</html>
