{% extends 'layout.html.j2' %}
{% block body %}
<h1>Project Overview </h1>

<div>


<b>The Glacial Lake Observatory (GLO)</b> is a collaborative, continuously updated platform that integrates a database and analytics suite for glacial lakes. Its initial focus centers on <b>Nepal and the broader High Mountain Asia region</b>, where rapid environmental change poses urgent challenges for communities, infrastructure, and ecosystems. 

GLO brings together key datasets to support research, monitoring, and decision-making. Users can <b>access, contribute to, and refine</b> the database, fostering open science and reproducible workflows. Integrated monitoring tools will track lake dynamics, offering actionable insights for <b>researchers, stakeholders, and disaster risk reduction planners</b>. 

<b>The platform is under development.</b> 
<br>
<div style="width: 70%; margin: auto;">
    <img src="/static/images/About/Project/GLO_phase1.PNG" alt="Drone shot of glacial lake in Nepal from field work" title="Drone shot of glacial lake in Nepal" style="width: 100%;">
    <br>
    <br>
    <img src="/static/images/About/Project/LR_Ngozumpa_pond.jpg" alt="Photo of Lauren at Ngozumpa pond" title="Lauren at Ngozumpa pond" style="width: 100%;">
    <br><br>
    <img src="/static/images/About/Project/Tal_village.jpg" alt="Drone shot of Tal village from field work" title="Drone shot of Tal village" style="width: 100%;">
</div>
</div>

{% endblock %}
</html>
