{% extends 'layout.html.j2' %}
{% block body %}
<h1 style="text-align: center">Contributor Guidelines</h1>
<h4 style="text-align: center">
<p>The Glacial Lake Observatory aims to promote open and collaborative access to glacial lake datasets in a global database. We ask that users of the database and analytical functions appropriately credit and acknowledge the datasets and services, some of which are created by the GLO project, and others are external datasets that are linked through the GLO. Users should be aware of the <strong><a href=/privacy >Privacy notice</a></strong> and <strong><a href=/copyright> Copyright and Disclaimer</a></strong>. </p>
<h4 style="text-align: left">
Collaboration
        <ul>
            <li>We encourage use of the GLO for collaborative research and monitoring purposes.</li>
            <li>We encourage the sharing of datasets with under-represented groups and junior researchers.</li>
            <li>Use of GLO and external datasets should be acknowledged following the metadata for individual datasets.</li>
            <li>The GLO database and functionality must not be redistributed without permission from the GLO team.</li>
        </ul>
   
Contribution
        <ul>
            <li>Registered users can contribute to and edit the database in accordance with the Contributor Guidelines.</li>
            <li>Data added to the GLO must be owned by the contributor, or permission given from the data curator. Contributed data should have an open access license (e.g. CC BY-SA 4.0) that permits open sharing and adaptation of the data with appropriate acknowledgement.</li>
            <li>Data added to the GLO should be formatted appropriately following the guidance provided.</li>
            <li>We may remove, edit, or reject any contributions that are not aligned to the Contributor Guidelines.</li>
        </ul>

{% endblock %}

