{% extends 'layout.html.j2' %}
{% block styles %}
<!-- datatables style: -->
<link rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"
      media="all">
<!-- leaflet css: -->
<link rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/leaflet.css') }}"
      media="all">
<!-- local css: -->
<link rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/database.css') }}"
      media="all">
<!-- leaflet js: -->
<script src="{{ url_for('static', filename='scripts/leaflet.js') }}"
        charset="utf-8">
</script>
<!-- jquery js: -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        charset="utf-8">
</script>
<!-- datatables js: -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"
        charset="utf-8">
</script>
<script src="https://cdn.datatables.net/plug-ins/1.11.5/filtering/type-based/accent-neutralise.js"
        charset="utf-8">
</script>
<!-- local js: -->
<script src="{{ url_for('static', filename='scripts/database.js') }}"
        charset="utf-8"
        defer>
</script>
<!-- local js: -->
<script>
var lakes_data = {{ lakes | replace('None', 'null') }};
</script>
{% endblock %}
{% block body %}
<!-- container: _______________________________________________________ -->
<div id="db_container_col"
     class="db_container_col db_column">
  <!-- header text: ___________________________________________________ -->
  <div id="header_header_row"
       class="db_container_row db_row flex_start">
    <h2 id="header_db_id"
        class="header_db">Database</h2>
  </div>
  <!-- lakes map: __________________________________________________ -->
  <div id="map_header_row"
       class="db_container_row db_row flex_start">
    <h3 class="header_db">Lakes Map</h3>
  </div>
  <div id="map_row"
       class="db_container_row db_row flex_center">
    <div id="lakes_map"
         class="db_plot_div flex_grow">
    </div>
  </div>
  <!-- lakes table: ________________________________________________ -->
  <div id="table_header_row"
       class="db_container_row db_row flex_start">
    <h3 class="header_db">Lakes Table</h3>
  </div>
  <div id="table_table_row"
       class="db_container_row db_row flex_start">
    <div id="table_table"
         class="page_text">
      <table id="lakes_table"
             class="display">
        <thead>
          <tr>
            <th class="dt-left">ID</th>
            <th class="dt-left th_country">Country</th>
            <th class="dt-left th_basin">Basin</th>
            <th class="dt-left th_alt_name">Common Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for lake in lakes -%}
          <tr class="lakes_table_tr"
              onclick="window.open('/database/lake/{{ lake['GLO_ID'] }}')">
            <td>{{ lake['GLO_ID'] }}</td>
            <td class="td_country">{{ lake['COUNTRY']  }}</td>
            <td class="td_basin">{{ lake['BASIN']  }}</td>
            <td class="td_common_name">{{ lake['COMMON_NAME'] | replace('None', '') }}</td>
            <td><a class="lakes_table_a" href="/database/lake/{{ lake['GLO_ID'] }}" target="_blank">View</a></td>
          </tr>
          {% endfor -%}
        </tbody>
     </table>
    </div>
  </div>
<!-- end container: ___________________________________________________ -->
</div>
{% endblock %}
