{% extends 'layout.html.j2' %}
{% block body %}

<script>
var lakes = {{ lakes }};
</script>

<h1>Database</h1>

<i> Map to go here </i>

<br>
<!-- Example of passing in the button for now -->
<a href="{{ url_for('main.lake', lake_id=1) }}"
class="btn btn-primary mt-3">
View Lake
</a>

{% endblock %}
</html>
