{% extends 'layout.html.j2' %}

{% block body %}


<h1>Glacial Lake Observatory</h1>

<b>The Glacial Lake Observatory (GLO)</b> is a collaborative, continuously updated platform that integrates a database and analytics suite for glacial lakes. Its initial focus centers on <b>Nepal and the broader High Mountain Asia region</b>, where rapid environmental change poses urgent challenges for communities, infrastructure, and ecosystems. 

GLO brings together key datasets to support research, monitoring, and decision-making. Users can <b>access, contribute to, and refine</b> the database, fostering open science and reproducible workflows. Integrated monitoring tools will track lake dynamics, offering actionable insights for <b>researchers, stakeholders, and disaster risk reduction planners</b>. 

<b>The platform is under development.</b> 

<br>
<br>

<div style="max-width: 800px; margin: auto;">
    <img src="/static/Photo_video_gallery/content/DJI_0515_20171030.JPG" alt="Drone shot of glacial lake in Nepal from field work" title="Drone shot of glacial lake in Nepal" style="width: 100%; height: auto;">
</div>

</div>
{% endblock %}

</html>
