{% extends 'layout.html.j2' %}
{% block body %}
<h1>{{title}}</h1>


<h1>News</h1>

<div style="display: flex; justify-content: space-between;">
  <div style="flex: 1; margin-right: 10px;">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v23.0">
</script>


<iframe
  src="https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/pages/Glacial-Lake-Observatory/61574218148820/&tabs=timeline&width=2000&height=2000"
  style="width:100%; height:2000px; border:none; overflow:hidden;">
</iframe>



<script>
  window.fbAsyncInit = function() {
    FB.XFBML.parse();
  };
</script>

</div>


  <div style="flex: 1; margin-left: 10px;">
  <h3>Latest Newsletter <i>(click to download)</i></h3> 
    <a href="https://zenodo.org/records/18671564/files/GLO%20newsletter%20-%20February2026.pdf?download=1">
      <img src="/static/images/News/202602_newsletter.jpg" alt="Latest Newsletter thumbnail and link" title="Newsletter" style="width: 70%;">
    </a>

  </div>
</div>


{% endblock %}
</html>
