{% extends 'layout.html.j2' %}
{% block body %}
<h1>{{title}}</h1>


<h1>News</h1>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v23.0">
</script>


<div class="fb-page"
data-href="https://www.facebook.com/pages/Glacial-Lake-Observatory/61574218148820/"
data-tabs="timeline"
data-width="500"
data-small-header="false"
data-adapt-container-width="true"
data-hide-cover="false"
data-show-facepile="true">
</div>

{% endblock %}
</html>
