{% extends 'layout.html.j2' %}
{% block body %}
<h1>{{title}}</h1>


<h1>Training and Methods</h1>

This page will be updated with training and methods resources. 

<div style="display: flex; justify-content: space-between;">
    <img src="/static/images/Resources/Training_and_methods/RS_drone.jpg" alt="Fieldwork photo" title="Fieldwork photo" style="width: 32%;">
    <img src="/static/images/Resources/Training_and_methods/S2_SWIR_Bhutan.jpg" alt="Sentinal 2 SWIR Bhutan" title="Sentinal 2 SWIR Bhutan" style="width: 32%;">
    <img src="/static/images/Resources/Training_and_methods/flood.jpeg" alt="Flood map" title="Flood map" style="width: 32%;">
</div>
{% endblock %}
</html>
