{% extends 'layout.html.j2' %}
{% block body %}
<div style="text-align: justify">
<center>
<h1> Admin information page </h1>
</center>
<p> You are logged in with admin privileges. You have a number of additional features available to you:
<ul>
  <li> Add/ Delete Volcanoes
  <li> Add new users and assign roles.
  <li> Update Volcano information
  <li> Approve updates.
  <li><i> In the future minor edits to site text will be able to be done as admin </i>
  </ul>
<p> You can also have access to the email address associated with this site to control email forwarding (who gets notified of contact form entries and edits pending approval)
<p> The group email for COMET is: <b> {{cometmail}} </b>
<p> The password is: <b> {{cometpassword}} </b>

<h2> Roles </h2>
The following roles can be assigned
<ul>
  <li><b>Public</b> - Anyone can veiw the volcano database.</li>
  <li><b>Registerd Users</b> - When a new user is created they get assigned this role <i>if heavier annalysis gets implemented in the future it may be useful to put behind login wall</i>.</li>
  <li><b>Collaborators</b> - Update Observations tab will appear as well and button to add new volcano </li>
  <li><b>Reviewers</b> - Same privileges as Collaborators with the ability to accept deny pending changes in the awaiting review tab </li>
  <li><b>Admins</b> - Same privileges as Reviewers with additional access to delete volcano completey, add/modify users and edit site text <i>comming soon</i></li>
</ul>

</div>
<h2> CEMAC support </h2>
If there is an edit you can not make yourself, you spot an error or even a feature request then contact CEMAC via one of the following methods*.
<ol>
  <li>Log an issue on github (<i> depends on final privacy setting </i>)</li>
  <li><a href="mailto:cemac-support@leeds.ac.uk?Subject=COMET%20volcano%20site%20help" target="_top">Email cemac support</a></li>
  <li>Email <a href="mailto:h.l.burns@leeds.ac.uk?Subject=COMET%20volcano%20site%20help" target="_top">Helen</a> or  <a href="mailto:r.rigby@leeds.ac.uk?Subject=COMET%20volcano%20site%20help" target="_top">Richard</a> directly (site generated in 2019/2020)</li>
</ol>

{% endblock %}
</html>
