{% extends 'layout.html.j2' %}

{% block body %}

<img src="/static/GLO_banner.png" alt="Banner" style="width: 100%; display: block;" />

<div>
The Glacial Lake Observatory (GLO) will provide a global database of glacial lakes and bring together key datasets for analysis. Users will be able to collaboratively access and edit the database for their research. Monitoring tools will highlight lake dynamics relevant to stakeholders and disaster risk reduction planning.
This is a holding page whilst the GLO is developed. We expect the first version will be released in late 2025. The GLO is being developed as part of a UKRI Future Leaders Fellowship awarded to C. Scott Watson, University of Leeds. For further information, please contact Dr C. Scott Watson.
</div>

</html>
