<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href=/static/GLO_logo_text.png> <link rel="icon" href="/static/GLO_logo_text.png" sizes="192x192" />
  <title>Glacial Lake Observatory</title>
  <!-- styles: -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        type="text/css">
  <link rel="stylesheet"
        href="{{ url_for('static',filename='styles/stylev1.css')}}"
        type="text/css">
  <link rel="stylesheet"
        href="{{ url_for('static',filename='styles/CEMACv1.css')}}"
        type="text/css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        type="text/css">
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha512-Zcn6bjR/8RZbLEpLIeOwNtzREBAJnUKESxces60Mpoj+2okopSAcSUIUOseddDm0cxnGQzxIR7vJgsLZbdLE3w=="
        crossorigin="anonymous"
        type="text/css">
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet-gesture-handling@1.2.2/dist/leaflet-gesture-handling.min.css"
        integrity="sha512-vX0FO9CCqFIE79wbaX/s/iU6YDGRtHrlVukRf4541PpIAMuQctMIkCljit1QKm3iqUnqxZ6SGC7mQ9TFM2BYJw=="
        crossorigin="anonymous"
        type="text/css">
  <!-- scripts: -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha512-BwHfrr4c9kmRkLw6iXFdzcdWV/PGkVgiIyIWLLlTSXzWQzxuSg4DiQUCpauz/EWjgk5TYQqX/kvn9pG1NpYfqg=="
          crossorigin="anonymous">
  </script>
  <script src="https://unpkg.com/leaflet-gesture-handling@1.2.2/dist/leaflet-gesture-handling.min.js"
          integrity="sha512-SRElYTquj3HpA/OFiOmpEXwhZUxXZAo/vBdF/5ou7jH+4oKaspceJ0l2n9s1QQMhgi4dbK+39BZXH3eeuzbWoQ=="
          crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88865536-1">
  </script>
  {% block styles %}{% endblock %}
</head>

<body>
  {% include 'includes/_header.html.j2' %}
  {% include 'includes/_navbar.html.j2' %}
  <div class="container" style="width: 99%; margin:auto;">
    {% include 'includes/_messages.html.j2' %}
    {% block body %}{% endblock %}
  </div>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-88865536-1');
  </script>
  {% include 'includes/_footer.html.j2' %}
  {% block scripts %}{% endblock %}
</body>

</html>
